<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(197, 150, 150);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #1b0606;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  background-color: rgb(238, 214, 214);
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: rgb(218, 145, 145);
  padding: 10px;
}
</style>
